<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Backbone.js Addresses</title>
  <link rel="stylesheet" href="todos.css"/>
</head>

<body>

  <div id="addressapp">

    <header>
      <h1>Addresses</h1>
      <input id="new-first_name" type="text" placeholder="First Name">
      <input id="new-last_name" type="text" placeholder="Last Name">
      <input id="new-email" type="text" placeholder="Email">
	  
    </header>

    <section id="main">
      <input id="toggle-all" type="checkbox">
      <label for="toggle-all">Mark all</label>
      <ul id="address-list"></ul>
    </section>

    <footer>
      <a id="clear-completed">Delete marked</a>
      <div id="address-count"></div>
    </footer>

  </div>

  <div id="instructions">
    Double-click to edit a address.
  </div>

  <div id="credits">

  </div>

  <script src="json2.js"></script>
  <script src="jquery-1.11.1.js"></script>
  <script src="underscore.js"></script>
  <script src="backbone.js"></script>
  <script src="backbone.localStorage.js"></script>
  <script src="addressbook.js"></script>

  <!-- Templates -->

  <script type="text/template" id="item-template">
    <div class="view">
      <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
      <label><%- first_name %></label>
      <label><%- last_name %></label>
      <label><%- email %></label>
	  
      <a class="destroy"></a>
    </div>
	
    <input class="edit" type="text" value="<%- first_name %>" />
    <input class="edit" type="text" value="<%- last_name %>" />
    <input class="edit" type="text" value="<%- email %>" />
  </script>

  <script type="text/template" id="stats-template">
    <% if (done) { %>
      <a id="clear-completed">Delete <%= done %> marked <%= done == 1 ? 'address' : 'addresses' %></a>
    <% } %>
    <div class="address-count"><b><%= remaining %></b> <%= remaining == 1 ? 'address' : 'addresses' %></div>
  </script>

  </body>
</html>
